*,
*::before,
*::after {
    box-sizing: inherit;
}

.embla {
    max-width: 100%;
    --slide-spacing: 2rem;
    /* Adjust slide spacing for smaller screens */
    --slide-size: 100%;
    /* Adjust slide size for smaller screens */
}

@media (min-width: 640px) {

    /* sm */
    .embla {
        --slide-spacing: 4rem;
        --slide-size: 70%;
    }
}

@media (min-width: 768px) {

    /* md */
    .embla {
        --slide-spacing: 5rem;
        --slide-size: 50%;
    }
}

@media (min-width: 1024px) {

    /* lg */
    .embla {
        --slide-spacing: 6rem;
        --slide-size: 35%;
    }
}

@media (min-width: 1280px) {

    /* xl */
    .embla {
        --slide-spacing: 7rem;
        --slide-size: 30%;
    }
}

.embla__viewport {
    overflow: clip;
}

.embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
}

.embla__slide__number {
    box-shadow: inset 0 0 0 0.1rem hsl(var(--border));
    user-select: none;
}

.embla__controls {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    margin-top: 1.8rem;
    align-items: center;
}

.embla__buttons {
    display: flex;
    gap: 0.6rem;
    align-items: center;
}

.embla__button {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    width: 2.6rem;
    height: 2.6rem;
    z-index: 1;
    border-radius: 50%;
    color: var(--text-body);
    display: flex;
    align-items: center;
    justify-content: center;
}

.embla__button:disabled {
    color: var(--detail-high-contrast);
}

.embla__button__svg {
    width: 35%;
    height: 35%;
}

.embla__dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* Center the dot buttons */
    gap: .5rem;
    align-items: center;
}

.embla__dot {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50%;
}

.embla__dot:after {
    box-shadow: inset 0 0 0 0.1rem var(--detail-medium-contrast);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    content: '';
}

.embla__dot--selected:after {
    box-shadow: inset 0 0 0 0.5rem var(--text-body);
}